@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="/img/Logos/PenProIcon_600x600.svg" style="max-width: 450px;" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 col-lg-5 order-last">
        <div class="ms-5">
            <h1 class="heroTitle">
                All your <span class="texthighlight">contacts</span> in
                one place
            </h1>
            <div class="subtitle">
                <p>
                    Organize your events by keeping everyone in the loop. Experience the power of PenPro.
                    Demo it today!
                </p>
                <div class="text-center">
                    <p class="fw-bold">
                        Built with pride using cutting edge tech:
                    </p>
                    <i class="devicon-dot-net-plain-wordmark colored icon m-3"></i>
                    <i class="devicon-csharp-plain-wordmark colored icon m-3"></i>
                    <i class="devicon-postgresql-plain-wordmark colored icon m-3"></i>
                    <i class="devicon-bootstrap-plain-wordmark colored icon m-3"></i>
                </div>

            </div>
            @*  <div class="text-start mt-5">
            <a class="btn btn-lg btn-primary rounded-pill w-25">DEMO</a>
            </div>*@
        </div>
    </div>

</div>
